
@{
    ViewData["Title"] = "Glacc";
}

<h2>Glacc</h2>
<div class="ui pointing secondary menu" id="glacc-table">
    <a class="item active" data-tab="GetAcc?acc_group=1" id="Assets">Assets</a>
    <a class="item" data-tab="GetAcc?acc_group=2" id="Liabilities">Liabilities</a>
    <a class="item" data-tab="GetAcc?acc_group=3" id="Equity">Shareholder's Equity</a>
    <a class="item" data-tab="GetAcc?acc_group=4" id="Income">Income</a>
    <a class="item" data-tab="GetAcc?acc_group=5" id="Expense">Expenses</a>
</div>
<div class="ui tab segment active active" data-tab="GetAcc?acc_group=1">
    First
</div>
<div class="ui tab segment" data-tab="GetAcc?acc_group=2">
    Second
</div>
<div class="ui tab segment" data-tab="GetAcc?acc_group=3">
    Third
</div>
<div class="ui tab segment" data-tab="GetAcc?acc_group=4">
    Fourth
</div>
<div class="ui tab segment" data-tab="GetAcc?acc_group=5">
    Fifth
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            $("#Assets").click();
        })
    </script>
}