
@{
    ViewData["Title"] = "Glacc";
}

<h2>Glacc</h2>
@*<div class="ui top attached tabular menu">*@
<div class="ui pointing secondary menu" id="glacc-table">
    <a class="item active" data-tab="GetAcc1">First</a>
    <a class="item" data-tab="GetAcc2">Second</a>
    <a class="item" data-tab="GetAcc3">Third</a>
</div>
<div class="ui tab segment active active" data-tab="GetAcc1">
    First
</div>
<div class="ui tab segment" data-tab="GetAcc2">
    Second
</div>
<div class="ui tab segment" data-tab="GetAcc3">
    Third
</div>

