<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - XAcc</title>

    <environment include="Development">
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">*@
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/semantic-ui/dist/semantic.css" />
    </environment>
    <environment exclude="Development">
        @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">*@
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/semantic-ui/dist/semantic.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    @{
        var sn = User.Identities.First().Claims.Where(c => c.Type == System.Security.Claims.ClaimTypes.SerialNumber).FirstOrDefault();
        var serial_number = sn != null ? sn.Value.ToString() : string.Empty;
        var current_db = User.Identities.First().Claims.Where(c => c.Type == System.Security.Claims.ClaimTypes.UserData).FirstOrDefault();
        var db_name = current_db != null ? current_db.Value.ToString() : string.Empty;
        var user = User.Identities.First().Claims.Where(c => c.Type == System.Security.Claims.ClaimTypes.Name).FirstOrDefault();
        var user_name = user != null ? user.Value.ToString() : string.Empty;
    }



    @if (User.Identity.IsAuthenticated)
    {
        <nav class="nav-sidebar minimize">
            <div>
                <div class="nav-sidebar-brand">
                    <a asp-controller="Home" asp-action="Index"><h2>@@</h2></a>
                </div>
                <div class="nav-sidebar-toggle-btn" onclick="$(this).toggleShowSidebar(event)">
                    <i class="expand icon large"></i>
                </div>

                <div class="nav-sidebar-menu">
                    <ul class="">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Purchase<i class="cart arrow down icon"></i></a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Sales<i class="shopping basket icon"></i></a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Finance<i class="money bill alternate outline icon"></i></a></li>
                        <li><a asp-area="" asp-controller="Stmas" asp-action="Index">Stock<i class="cubes icon"></i></a></li>
                        <li><a asp-area="" asp-controller="Glacc" asp-action="Index">Account<i class="dollar sign icon"></i></a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Report<i class="chart bar icon"></i></a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Setup<i class="cogs icon"></i></a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Other<i class="braille icon"></i></a></li>
                        <li><a href="#" onclick="$('#select-comp-dialog').getSelectDataList('@serial_number', '@user_name')">Change Company<i class="retweet icon"></i></a></li>
                        <li><a href="#" onclick="confirmLogout()">Log out<i class="sign out icon"></i></a></li>
                    </ul>
                </div>

            </div>
        </nav>
        <div class="sub-menu-display-panel">

        </div>
    }
    <div class="ui container body-content">
        @RenderBody()
        <hr />
        <footer class="xstyle">
            <p>&copy; 2561 - XAcc, S/N : @serial_number,  ที่เก็บข้อมูล : @db_name, รหัสผู้ใช้งาน : @user_name</p>
            <p class="right"></p>
        </footer>
    </div>
    <form class="fake-form" asp-action="Index"></form>
    @*<div tabindex="-1" class="long modal" id="select-comp-dialog"></div>*@
    <div class="ui modal" id="select-comp-dialog">
        @*<i class="close icon"></i>
        <div class="header">
            Modal Title
        </div>
        <div class="image content">
            <div class="image">
                An image can appear on left or an icon
            </div>
            <div class="description">
                A description can appear on the right
            </div>
        </div>
        <div class="actions">
            <div class="ui button">Cancel</div>
            <div class="ui button">OK</div>
        </div>*@
    </div>
    <div class="ui modal" id="confirm-dialog">
        <div class="header" id="confirm-header">Message</div>
        <div class="scrolling content">
            <p id="confirm-message"></p>
        </div>
        <div class="actions">
            <form method="post" id="confirm-dialog-form" style="display:inline;">
                <button type="submit" class="ui button" id="confirm-btn-ok">OK</button>
                <input type="hidden" name="form_action_id" />
            </form>
            <button class="ui button" id="confirm-btn-cancel" onclick="clearConfirmDialog()">Cancel</button>
            <button class="ui button" id="confirm-btn-close" onclick="clearConfirmDialog()">Close</button>
        </div>
    </div>


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        @*<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>*@
        @*<script src="~/js/jquery.slimscroll.js" asp-append-version="true"></script>*@
        <script src="~/lib/semantic-ui/dist/semantic.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        @*<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/jquery.slimscroll.min.js" asp-append-version="true"></script>*@
        <script src="~/lib/semantic-ui/dist/semantic.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)


</body>
</html>
