
@{
    ViewData["Title"] = "LoginForm";
}

<h2>LoginForm</h2>
<input type="hidden" id="errmsg" value="@ViewBag.errmsg" />
<div>
    <form method="post" asp-action="Login">
        <div class="form-group">
            <label for="sernum">S/N</label>
            <input type="text" id="sernum" name="sernum" value="W-10T-000008" />
        </div>
        <div class="form-group">
            <label for="phrase">Secret phrase</label>
            <input type="text" id="phrase" name="phrase" value="xxx" />
        </div>
        <div class="form-group">
            <label for="username">User name</label>
            <input type="text" id="username" name="username" value="BIT9" />
        </div>
        <div class="form-group">
            <label for="pass">Password</label>
            <input type="password" id="pass" name="pass" value="BIT9" />
        </div>
        @*<button type="submit">Log in</button>*@
        <button type="button" onclick="validateUser()">Log in</button>
    </form>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="select-comp-dialog"></div>

@section scripts{
    <script>
        if ($("#errmsg").val().trim().length > 0) {
            alert($("#errmsg").val());
        }

        $("#select-comp-dialog").on("hidden.bs.modal", function (e) {
            document.location.reload(true);
        });

        function validateUser() {
            var login_info = new Object();
            login_info.sernum = $("#sernum").val();
            login_info.phrase = $("#phrase").val();
            login_info.username = $("#username").val();
            login_info.pass = $("#pass").val();

            $.ajax({
                type: "POST",
                url: "/Home/ValidateUser",
                data: JSON.stringify(login_info),
                contentType: "application/json; charset=utf-8",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                dataType: "json",
                error: function (err) {
                    if (err.status == 400) {
                        window.location.reload(true);
                    }

                }
            }).done(function (data) {
                if (data.result === true) {
                    $("#select-comp-dialog").getDataList(login_info.sernum, login_info.phrase, login_info.username, login_info.pass);
                }
                else {
                    alert(data.return_obj);

                }
            });
        }

        $.fn.extend({
            getDataList: function (sernum, phrase, username, pass) {
                var target_elem = $(this);
                var post_data = new Object();
                post_data.sernum = sernum;
                post_data.phrase = phrase;
                post_data.username = username;
                post_data.pass = pass;

                $.ajax({
                    type: "POST",
                    url: "/Home/GetDataList",
                    data: JSON.stringify(post_data),
                    contentType: "application/json; charset=utf-8",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                }).done(function (data) {
                    target_elem.html(data);
                    return target_elem.modal({
                        "show": true,
                        "backdrop": true,
                        "keyboard": false
                    });
                });

            }

        });
    </script>
}