body {
    padding-top: 0; /*50px;*/
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    /*border: 1px solid red;*/
    margin-top: 1px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}



/******** Extended ********/
footer.xstyle {
    position: fixed;
    border-top: 1px solid rgb(180, 180, 180);
    box-shadow: 0 0 3px rgb(160, 160, 160);
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 20px;
    line-height: 22px;
    background-color: #cecece;
    font-size: 0.8em;
    text-shadow: 1px 1px 1px #ffffff;
    z-index: 1005;
}
.nav-sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 20px;
    width: 200px;
    background-color: #ffffff;
    border-right: #efefef;
    box-shadow: 2px 0 5px rgba(100, 100, 100, 0.8);
    z-index: 1000;
    overflow: auto;
    animation-duration: 4s;
}
.nav-sidebar.minimize {
    left: -150px;
}
.nav-sidebar-brand {
    width: 150px;
    float: left;
}
.nav-sidebar-brand h2 {
    margin: 0;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 1.6em;
}
.nav-sidebar-brand a {
    left: 0px;
    right: 0px;
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid #cecece;
    background-color: #090909;
    display: block;
    height: 50px;
    line-height: 50px;
}
.nav-sidebar-brand a:hover {
    /*background-color: #cecece;*/
}
.nav-sidebar-toggle-btn {
    position:relative;
    float: right;
    width: 50px;
    height: 50px;
    background-color: darkgray;
    cursor: pointer;
}
.nav-sidebar-menu {
    position: fixed;
    top: 50px;
    left: 0px;
    bottom: 20px;
    padding: 0;
    margin: 0;
    width: 200px;
    overflow: auto;
}
.nav-sidebar.minimize .nav-sidebar-menu {
    left: -150px;
}
.nav-sidebar-menu ul {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-sidebar-menu li > a {
    padding: 15px 10px;
    color: #333333;
    display: block;
}
.nav-sidebar-menu li a:hover {
    text-decoration: none;
    background-color: #efefef;
}