body {
    padding-top: 0; /*50px;*/
    padding-bottom: 0; /*20px;*/
    padding-left: 0; /*50px;*/
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    /*border: 1px solid red;*/
    margin-top: 1px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}



/******** Extended ********/
body {
    padding-left: 40px !important;
}
.ui.container {
    margin-bottom: 20px;
}
footer.xstyle {
    position: fixed;
    border-top: 1px solid rgb(180, 180, 180);
    box-shadow: 0 0 3px rgb(160, 160, 160);
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 20px;
    line-height: 22px;
    background-color: #cecece;
    font-size: 0.82em;
    text-shadow: 1px 1px 1px #ffffff;
    z-index: 1005;
}
#nav-container .sub-menu-display-panel {
    position: fixed;
    top: 0px;
    left: 200px;
    bottom: 20px;
    right: 0px;
    z-index: 990 /*1000*/;
    background-color: rgba(250, 250, 250, 0.9);
    display: none;
}
#nav-container.minimize .sub-menu-display-panel {
    left: 40px;
}
.nav-sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 20px;
    width: 200px;
    background-color: #ffffff;
    border-right: #efefef;
    box-shadow: 2px 0 5px rgba(100, 100, 100, 0.8);
    z-index: 991 /*1001*/;
    overflow: auto;
    animation-duration: 4s;
}
#nav-container.minimize .nav-sidebar {
    left: -160px;
}
.nav-sidebar-brand {
    width: 160px;
    float: left;
}
.nav-sidebar-brand h2 {
    margin: 0;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 1.6em;
}
.nav-sidebar-brand a {
    left: 0px;
    right: 0px;
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid #cecece;
    background-color: #090909;
    display: block;
    height: 40px;
    line-height: 40px;
}
.nav-sidebar-brand a:hover {
    /*background-color: #cecece;*/
}
.nav-sidebar-toggle-btn {
    position:relative;
    float: right;
    width: 40px;
    height: 40px;
    background-color: #cecece;
    cursor: pointer;
    color: #ffffff;
    padding: 7px;
}
.nav-sidebar-menu {
    position: fixed;
    top: 40px;
    left: 0px;
    bottom: 20px;
    padding: 0;
    margin: 0;
    width: 200px;
    overflow: auto;
}
#nav-container.minimize .nav-sidebar-menu {
    left: -160px;
}
.nav-sidebar-menu ul {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-sidebar-menu li > a {
    /*padding: 15px 10px;*/
    color: #333333;
    display: block;
    padding-left: 10px;
    line-height: 40px;
    border-bottom: 1px solid #efefef;
}
.nav-sidebar-menu li a:hover {
    text-decoration: none;
    background-color: #efefef;
}
.nav-sidebar-menu i.icon {
    margin: 2px 10px 0 0;
    float: right;
}
.indent-1 {
    padding-left: 10px !important;
}
.indent-2 {
    padding-left: 30px !important;
}
.indent-3 {
    padding-left: 50px !important;
}
.indent-4 {
    padding-left: 70px !important;
}
.indent-5 {
    padding-left: 80px !important;
}
.indent-6 {
    padding-left: 90px !important;
}
.scrollable-box-wrapper {
    position: absolute;
    top: 14px;
    bottom: 14px;
    left: 14px;
    right: 14px;
    border: 1px solid rgb(200, 200, 200);
    box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.2);
    border-radius: 5px;
    min-height: 250px;
}
.scrollable-box {
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 8px;
    right: 6px;
    overflow: auto;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 3px;
    min-height: 250px;
}
.title-text {
    padding: 15px;
    margin-bottom: 0;
}
.layer {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.3);
}
input[type='text']:focus {
    background-color: rgb(233, 248, 255) !important;
}
.popup.exclaimation {
    color: red !important;
}
.popup {
    display: none !important;
}
.has-error .popup,
.has-error .error.message {
    display: inline-block !important;
}
.ui.error.message {
    font-size: 0.8em;
    padding: 8px 10px;
}

@media only screen and (max-width: 767px){
    .scrollable-box-wrapper,
    .scrollable-box {
        position: relative;
        min-height: unset;
    }
    .scrollable-box {
        top: 0px;
        left: 0px;
    }
}